# Python specific
*.pyc
*__pycache__

# Ignore data files
/data/

# Intellij specific
/.idea/

/do_analysis/ARC-Challenge-Test.jsonl

/bin/

/do_analysis/ARC-Challenge-Test_as_entailment_default.jsonl

/do_analysis/ARC-Challenge-Test_as_entailment_with_struct_default.jsonl

/do_analysis/ARC-Challenge-Test_predictions_dgem_default.jsonl

/do_analysis/ARC-Challenge-Test_with_hits_default.jsonl

/etc/

/include/

/lib/

/man/

/pip-selfcheck.json

/share/

/openie/stanford/stanford-corenlp/

/results/

/openie/stanford/results/

/openie/dair-iitd/WordNet-3.0/
/openie/dair-iitd/LICENSE

/openie/dair-iitd/README.md

/openie/dair-iitd/build.sbt

/openie/dair-iitd/data/

/openie/dair-iitd/lib/

/openie/dair-iitd/openie-assembly.jar

/openie/dair-iitd/project/

/openie/dair-iitd/release/

/openie/dair-iitd/results/

/openie/dair-iitd/README_.md

/openie/dair-iitd/src/

/openie/dair-iitd/version.sbt

/*.iml
